.navbar {
    margin: 0;
    padding: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    gap: 20px;
}


.navbar span {
    font-size: 2em;
    margin-top: 20px;
    align-self: center;
}

.navbar ul li {
    cursor: pointer;
    list-style: none;
}

.navbar ul {
    font-size: 1em;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.navbar button {
    margin: 20px;
    align-self: center;
    width: 40%;
    cursor: pointer;
}

.hide {
    display: none;
}