body {
    margin: 0;
    padding: 0;
    background-color: #98D7C2;


}

.app-container {
    display: flex;
}

.main-content {
    transition: 0.7s ease-in-out;
    flex: 1;
    padding-left: 200px;
}

.main-closed {
    transition: 0.7s ease-in-out;
    padding-left: 50px;
}